<%- include('./header.ejs') %>
<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left text-light" style="background-color: #221d2d">
          <h1><%= d.title %></h1>
          <div class="posted-on text-light">
            <p>
              by <span class="text-light">RSGiTECH</span> on
              <span class="text-light"
                ><%= d.createdAt.toLocaleDateString() %></span
              >
            </p>
          </div>
          <div class="detail-img" style="margin: 71px 15px">
            <img
              style="border: 2px white solid"
              src="<%= d.image.url %>"
              alt="blog1"
              height="400px"
              width="788px"
            />
          </div>
          <div class="blog-desc">
            <p><%= d.descripition %></p>
          </div>
        </div>
        <!-- <div class="blog-left">
          <h1><%= d.title %></h1>
          <div class="posted-on">
            <p>
              by <span>RSGiTECH</span> on
              <span><%= d.createdAt.toLocaleDateString() %></span>
            </p>
          </div>
          <div class="detail-img">
            <img
              src="<%= d.image.url %>"
              alt="blog1"
              height="350px"
              width="250px"
            />
          </div>
          <div class="blog-desc">
            <p><%= d.descripition.slice %></p>
            <p></p>
          </div>
        </div> -->
      </div>

      <div class="col-md-4">
        <div class="blog-right">
          <div
            class="right-widget recent-post"
            style="background-color: #221d2d"
          >
            <center style="margin-bottom: 68px; margin-top: 27px">
              <h3>Recent Blogs</h3>
            </center>
            <% r.forEach((recentitem) => { %>
            <a href="#" class="mt-5 mb-5">
              <div class="rb-box">
                <div class="rb-box-img">
                  <img src="<%= recentitem.image.url %>" alt="blog1" />
                </div>
                <div class="rb-box-desc">
                  <h4><%= recentitem.title %></h4>
                  <p><%= recentitem.createdAt.toLocaleDateString() %></p>
                </div>
              </div>
            </a>
            <% }) %>
          </div>

          <!-- <div class="right-widget recent-post">
            <h3>Recent Blogs</h3>
            <% r.forEach((recentitem)=>{ %>
            <a href="#">
              <div class="rb-box">
                <div class="rb-box-img">
                  <img
                    src="<%= recentitem.image.url %>"
                    height="80px"
                    width="5px"
                    alt="blog1"
                  />
                </div>
                <div class="rb-box-desc">
                  <h4><%= recentitem.title %></h4>
                  <p><%= recentitem.createdAt.toLocaleDateString() %></p>
                </div>
              </div>
            </a>
            <% }) %>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('./footer.ejs') %>
