<%- include('./header.ejs') %>
<section class="blog-list mtb-40">
  <div class="container">
    <h1>Blogs</h1>
    <div class="row">
      <% b.forEach((item)=>{ %>
      <div class="col-md-4">
        <div class="blog-box">
          <img
            style="width: 360px; height: 200px"
            src="<%= item.image.url %>"
            alt="Blog Image"
          />
          <div class="blog-details">
            <h3 class="title">
              <%= item.title %>
              <hr />
            </h3>
            <p class="date">
              Date: <%= item.createdAt.toLocaleDateString() %>"
            </p>
            <p class="description">
              Descripition: <%= item.descripition.slice(0, 100) %>....
            </p>
            <button
              style="background-color: #221d2d; color: white"
              class="compo"
            >
              <a
                href="/blog-detail/<%= item._id %>"
                class="btn text-decoration-none text-light"
                >Read more...</a
              >
            </button>
          </div>
        </div>
      </div>

      <% }) %>
    </div>
  </div>
</section>
<%- include('./footer.ejs') %>
