
<%- include('../../header.ejs') %>
<center style="padding: 50px;"><table class="table table-bordered table-striped">
  <tr>
    <th>#ID</th>
    <!-- <th>Image</th> -->
    <th>Title</th>
    <th>Discription</th>
     <th>Image</th>
    <th>Action</th>
    <!-- <th>Posted On</th> -->
    
  </tr>
  <td><%= view._id %></td>
  <td><%= view.title %></td>
  
  <td style="width: 150px; height: 50px">
    <%= view.descripition.slice( 0, 100) %>
  </td>




  <td><img src="<%= view.image.url %>" width="50px" alt="" /></td>

  <td>
    <div class="social-icons">
      <a
        href="/blogview/<%= view.id %>"
        style="color: #221d2d"
        class="fk"
      >
        <i class="fas fa-eye"></i>
      </a>
      <a href="/blogedit/<%= view.id %>" class="fk">
        <i class="fas fa-pen-square"></i>
      </a>
      <a href="/blogdelete/<%= view.id %>" class="fk">
        <i class="fas fa-trash"></i>
      </a>
    </div>
  </td>
  </tr>
  
</table></center>

<%- include('../../footer.ejs') %>
